<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
		<title>숙소 목록</title>
	</th:block>
	
	<th:block layout:fragment="customContents">
	<!-- 숙소 목록 bg  -->
	<section class="breadcrumb-section set-bg" data-setbg="/img/accommodationList/accommodationList_bg.jpg">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 text-center">
                	<div class="breadcrumb__text">
                    	<h2>숙소 목록</h2>
                        <div class="breadcrumb__option">
                           	<a href="./index.html">Home</a>
                           	<span>숙소 목록</span>
                       	</div>
                    </div>
                </div>
          	</div>
		</div>
	</section>
    <!-- 숙소 목록 시작  -->
      <section class="accommodationList spad">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3 col-md-5">
                      <div class="sidebar">
                          <div class="sidebar__item">
                              <h4>Department</h4>
                              <ul>
                                  <li><a href="#">호텔</a></li>
                                  <li><a href="#">펜션</a></li>
                                  <li><a href="#">풀빌라</a></li>
                                  <li><a href="#">콘도</a></li>
                                  <li><a href="#">리조트</a></li>
                                  <li><a href="#">글램핑</a></li>
                              </ul>
                          </div>
                          <div class="sidebar__item">
                              <h4>Price</h4>
                              <div class="price-range-wrap">
                                  <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                      data-min="10" data-max="540">
                                      <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                      <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                      <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                  </div>
                                  <div class="range-slider">
                                      <div class="price-input">
                                          <input type="text" id="minamount">
                                          <input type="text" id="maxamount">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="sidebar__item sidebar__item__color--option">
                              <h4>Region</h4>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="seoul">
                                      	서울
                                      <input type="radio" id="seoul">
                                  </label>
                              </div>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="incheon">
                                      	인천
                                      <input type="radio" id="incheon">
                                  </label>
                              </div>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="busan">
                                      	부산
                                      <input type="radio" id="busan">
                                  </label>
                              </div>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="daegu">
                                      	대구	
                                      <input type="radio" id="daegu">
                                  </label>
                              </div>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="ulsan">
                                      	울산
                                      <input type="radio" id="ulsan">
                                  </label>
                              </div>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="daejeon">
                                      	대전
                                      <input type="radio" id="daejeon">
                                  </label>
                              </div>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="gwangju">
                                      	광주
                                      <input type="radio" id="gwangju">
                                  </label>
                              </div>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="jeju">
                                      	제주도
                                      <input type="radio" id="jeju">
                                  </label>
                              </div>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="gangwon">
                                      	강원도
                                      <input type="radio" id="gangwon">
                                  </label>
                              </div>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="gyeonggi">
                                      	경기도
                                      <input type="radio" id="gyeonggi">
                                  </label>
                              </div>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="gyeongsang">
                                      	경상도
                                      <input type="radio" id="gyeongsang">
                                  </label>
                              </div>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="jeolla">
                                      	전라도
                                      <input type="radio" id="jeolla">
                                  </label>
                              </div>
                              <div class="sidebar__item__color sidebar__item__color--red">
                                  <label for="chungcheong">
                                      	충청도
                                      <input type="radio" id="chungcheong">
                                  </label>
                              </div>
                          </div>
                          <div class="sidebar__item">
                              <h4>Align</h4>
                              <div class="sidebar__item__size">
                                  <label for="Popular">
                                      Popular
                                      <input type="radio" id="Popular">
                                  </label>
                              </div>
                              <div class="sidebar__item__size">
                                  <label for="Recent">
                                      Recent
                                      <input type="radio" id="Recent">
                                  </label>
                              </div>
                              <div class="sidebar__item__size">
                                  <label for="Higher">
                                      Higher
                                      <input type="radio" id="Higher">
                                  </label>
                              </div>
                              <div class="sidebar__item__size">
                                  <label for="Lower">
                                      Lower
                                      <input type="radio" id="Lower">
                                  </label>
                              </div>
                              
                          </div>
                          <div class="sidebar__item">
                              <div class="latest-product__text">
                                  <h4>Latest</h4>
                                  <div class="latest-product__slider owl-carousel">
                                      <div class="latest-prdouct__slider__item">
                                          <a href="#" class="latest-product__item">
                                              <div class="latest-product__item__pic">
                                                  <img src="/img/latest-product/hotel1.jpg" alt="">
                                              </div>
                                              <div class="latest-product__item__text">
                                                  <h6>호텔A</h6>
                                                  <span>240,000</span>
                                              </div>
                                          </a>
                                          <a href="#" class="latest-product__item">
                                              <div class="latest-product__item__pic">
                                                  <img src="/img/latest-product/hotel2.jpg" alt="">
                                              </div>
                                              <div class="latest-product__item__text">
                                                  <h6>호텔B</h6>
                                                  <span>300,000</span>
                                              </div>
                                          </a>
                                          <a href="#" class="latest-product__item">
                                              <div class="latest-product__item__pic">
                                                  <img src="/img/latest-product/hotel3.jpg" alt="">
                                              </div>
                                              <div class="latest-product__item__text">
                                                  <h6>호텔C</h6>
                                                  <span>150,000</span>
                                              </div>
                                          </a>
                                      </div>
                                      <div class="latest-prdouct__slider__item">
                                          <a href="#" class="latest-product__item">
                                              <div class="latest-product__item__pic">
                                                  <img src="/img/latest-product/hotel4.jpg" alt="">
                                              </div>
                                              <div class="latest-product__item__text">
                                                  <h6>호텔D</h6>
                                                  <span>200,000</span>
                                              </div>
                                          </a>
                                          <a href="#" class="latest-product__item">
                                              <div class="latest-product__item__pic">
                                                  <img src="/img/latest-product/hotel5.jpg" alt="">
                                              </div>
                                              <div class="latest-product__item__text">
                                                  <h6>호텔E</h6>
                                                  <span>700,000</span>
                                              </div>
                                          </a>
                                          <a href="#" class="latest-product__item">
                                              <div class="latest-product__item__pic">
                                                  <img src="/img/latest-product/hotel6.jpg" alt="">
                                              </div>
                                              <div class="latest-product__item__text">
                                                  <h6>호텔F</h6>
                                                  <span>250,000</span>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-9 col-md-7">
                      <div class="product__discount">
                          <div class="section-title product__discount__title">
                              <h2>HOT</h2>
                          </div>
                          <div class="row">
                              <div class="product__discount__slider owl-carousel">
                                  <div class="col-lg-4">
                                      <div class="product__discount__item">
                                          <div class="product__discount__item__pic set-bg"
                                              data-setbg="/img/accommodationList/hotel1.jpg">
                                              <div class="product__discount__percent">-20%</div>
                                              <ul class="product__item__pic__hover">
                                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                  <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                              </ul>
                                          </div>
                                          <div class="product__discount__item__text">
                                              <span>Dried Fruit</span>
                                              <h5><a href="#">Raisin’n’nuts</a></h5>
                                              <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4">
                                      <div class="product__discount__item">
                                          <div class="product__discount__item__pic set-bg"
                                              data-setbg="/img/accommodationList/hotel2.jpg">
                                              <div class="product__discount__percent">-20%</div>
                                              <ul class="product__item__pic__hover">
                                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                  <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                              </ul>
                                          </div>
                                          <div class="product__discount__item__text">
                                              <span>Vegetables</span>
                                              <h5><a href="#">Vegetables’package</a></h5>
                                              <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4">
                                      <div class="product__discount__item">
                                          <div class="product__discount__item__pic set-bg"
                                              data-setbg="/img/accommodationList/hotel3.jpg">
                                              <div class="product__discount__percent">-20%</div>
                                              <ul class="product__item__pic__hover">
                                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                  <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                              </ul>
                                          </div>
                                          <div class="product__discount__item__text">
                                              <span>Dried Fruit</span>
                                              <h5><a href="#">Mixed Fruitss</a></h5>
                                              <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4">
                                      <div class="product__discount__item">
                                          <div class="product__discount__item__pic set-bg"
                                              data-setbg="/img/accommodationList/hotel4.jpg">
                                              <div class="product__discount__percent">-20%</div>
                                              <ul class="product__item__pic__hover">
                                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                  <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                              </ul>
                                          </div>
                                          <div class="product__discount__item__text">
                                              <span>Dried Fruit</span>
                                              <h5><a href="#">Raisin’n’nuts</a></h5>
                                              <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4">
                                      <div class="product__discount__item">
                                          <div class="product__discount__item__pic set-bg"
                                              data-setbg="/img/accommodationList/hotel5.jpg">
                                              <div class="product__discount__percent">-20%</div>
                                              <ul class="product__item__pic__hover">
                                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                  <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                              </ul>
                                          </div>
                                          <div class="product__discount__item__text">
                                              <span>Dried Fruit</span>
                                              <h5><a href="#">Raisin’n’nuts</a></h5>
                                              <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4">
                                      <div class="product__discount__item">
                                          <div class="product__discount__item__pic set-bg"
                                              data-setbg="/img/accommodationList/hotel6.jpg">
                                              <div class="product__discount__percent">-20%</div>
                                              <ul class="product__item__pic__hover">
                                                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                  <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                              </ul>
                                          </div>
                                          <div class="product__discount__item__text">
                                              <span>Dried Fruit</span>
                                              <h5><a href="#">Raisin’n’nuts</a></h5>
                                              <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
      			</div>
      		</div>
      </section>
      <!-- Product Section End -->
	</th:block>
</html> 