@charset "UTF-8";

/* footer default margin  */
footer{
	margin-top:40px;
}

ul li{
	list-style:none;
}

p{
	margin:0;
}


label{
	font-size:14px;
	font-weight:600;
	margin-bottom:0;
}

input.date-range{
	padding-left:12px;
}

h5{
	font-size:1.2rem;
}

select{
	height:42px;
}

.custom-select{
	border:solid 1px #e8e8e8;
	border-radius:4px;
}

/* badge */
.border-badge{
	border:1px solid #ff8123;	
	color:#ff8123;
	font-size:12px;
	border-radius:12px;
	padding:4px 0;
	min-width:70px;
	text-align:center;
	display:inline-block;
}

.aco-title h3{
	font-size:1.5rem;
	color:#343a40;
	text-align:left;
	font-weight:500;
}

.img-body{	
	height:calc(60vh - 64px) !important;
}

.img-body .img-list{
	height:100%;
}

.img-body .img-list img{
	width:100%;
	height:100%;
	overflow:hidden;
	vertical-align:bottom;	
	object-fit:cover;
}

.img-body .img-list img.half-height{
	height:calc(50%);
}

.img-body .img-list img.half-height.bottom{
	padding-top:8px;	
}

.parentel-radius{
	border-radius:12px;
	overflow:hidden;
}

/* button */
.dropdown .dropdown-menu{
	width:100%;
}

.toggle-custom{
	width:100%;
	background-color:transparent;
	border:1px solid #868e96;
	color:#868e96;
	text-align:left;
	position:relative;
	z-index:1000;
}

.toggle-custom:after{
    right: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.dropdown-group{
	border-radius:8px;
	padding:8px;
	display:none;
	z-index:1000;
	position: absolute;
    transform: translate3d(-10px, 38px, 0px);
    top: 0px;
    left: 15px;
    will-change: transform;
    background:#fff;
    width:100%;
    border:1px solid #ddd;
}

.dropdown-group .dropdown-list{
	margin-top:12px;
}

.dropdown-group.show{
	display:block;
} 

button.btn.btn-primary{
	/*background-color:#E1306C;*/
	background-color:#ff8123;
	border:none;
	width:100%;
}

button.btn.btn-primary.text{
	background:none;
	border:none;
	color:#ff8123;
	width:auto;
}


button.btn.btn-apply{
	background-color:#ff8123;
	border:none;
	width:45px;
	border-radius:8px;
}

.close-line-btn{
	border:none;
	box-shadow:none;
	background:none;
}

/* media-query */

@media(min-width:768px){
	.accommo-img-mobile{	
		display:none;
	}	
}

@media(max-width:767px){
	.accommo-img-pc{
		display:none;
	}
}

.product-details.half{
	padding-top:40px;	
}

.product__details__text.box{
    border: 1px solid #eee;
    box-shadow: #ddd 0px 6px 16px;
    padding: 24px;
    border-radius: 12px;
}

.product__details__text.pay_box{
    border: 1px solid #eee;
    box-shadow: #ddd 0px 6px 16px;
    padding: 24px;
    border-radius: 12px;
    padding-bottom:36px;
}

.product__details__text.pay_box .info span{
    font-size:14px;
    color:#868e96;
    font-weight:400;
}


.product__details__text.pay_box h3{
 	font-size: 18px;
}

.product__details__text .product__details__price{
	color:#343a40;	
	font-size:24px;
}

.product__details__text .product__details__price del{
	color:#868e96;	
	font-size:18px;
	margin-right:4px;
}

/* details quantity */
.pro-qty{
	background:#fff;
	display:flex;
	align-items:center;
	justify-content:center;
}

.pro-qty .qtybtn{
	border:1px solid #eee;
	border-radius:50%;
	width:40px;
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.product__details__quantity{
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.pro-qty input{
	background:none;
}

/*border*/
ul.accom-info li{
	display:inline-block;
	margin-right:10px;
}

ul.accom-info li:last-child::after{
	display:none;
}

.border-after{
	position:relative;
}
.border-after:after{
	content:"";
	border-right:1px solid #868e96;
	position:absolute;
	top:6px;
	right:-10px;
	height:14px;
}

.border-bottom-between{
	border-bottom:1px solid #ddd;
	padding-bottom:16px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.border-bottom{
	border-bottom:1px solid #ddd;
	padding-bottom:16px;
	
}


.product__details__text p{
	margin-bottom:4px;
}

.text-gray-sm{
	font-size:12px;
	color:#868e96;
}

/* accom info group */
.accom-info-group h3{
	font-size:24px;
	font-weight:500;
}

.accom-info-group .list{
	border-top:1px solid #eee;
	padding-top:24px;
	margin-top:24px;	
}

.accom-info-group .list.review:first-child{
	margin-top:0;
}


.accom-info-group .list.review .userid{
	font-size:14px;
}

.accom-info-group .list.review .date{
	font-size:12px;
	color:#868e96;
}

.accom-info-group .list.review .content{
}

.accom-info.question-option{
	font-size:12px;
	margin-top:4px;
}

/*text*/
.text-primary{
	color:#ff8123 !important;
}

span.text-primary.md-text{
	font-size:18px;	
}


/*icon*/
.sm-icon{
	width:24px;
	height:24px;
}

/* date range picker */
.date-range{
	border:1px solid #868e96;
	border-radius: 4px;
    box-shadow: none;
    height: 40px;
    margin-bottom: 8px;
    width: 100%;
    color:#868e96;
}

/*card ui 수정*/
.product__item.card{
	border:none;
	text-align: left;
}
.product__item.card .set-bg{
	border-radius:4px;
}

.product__item.card .room-address{
	text-align: left;
	font-size:12px;
	color:#868e96;
	font-weight: 400;
}

.product__item.card .room-title{
	text-align: left;
	font-size:15px;
	color:#343a40;
	font-weight: 400;
}

.product__item.card .room-price{
	text-align: left;
	color:#343a40;
	margin-top: 16px;
}

.product__item.card .room-price .origin-price{
	font-size:12px;
	color:#868e96;
}

.product__item.card .room-price .discount-price{
	font-size: 16px;
}

.product__item.card .room-price .discount-percent{
	color:#ff8123;
	margin-right: 4px;
	font-size: 16px;
}

.select-option .nice-select{
	display:flex;
	align-items:center;
}

.select-option .nice-select .list{
	width:100%;
}

/* 결제페이지 */
.pay-btn{
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
}

.dropdown{
	width:100%;
}


@media(max-width:768px){
	.form-display-layout{
		display:block !important;
	}
	
	.form-display-layout input.ml-3{
		margin-left:0 !important;
		margin-top: 16px;
	}
}

.form-display-layout{
	display:flex;
	align-items: center;
}

.form-display-layout label{
	min-width: 90px;
}