@charset "UTF-8";

.full-select .nice-select{
	width:100%;
}

.full-select .nice-select .list{
	width:100%;
}

.checkout__input .memberInfo{
	text-align: center;
}

.locationButton{
	border-style: none;
	border-radius: 10%;
	height: 46px;
	width: 180px;	
}

.infoButton{
	border-style: none;
	border-radius: 10%;
	height: 30px;
	width: 80px;
	color: white; 
	background-color: black;	
}

.infoButtonB{
	border-style: none; 
	border-radius: 10%; 
	height: 46px;
}

#infoDiv{
	padding-top: 10px;
}

#infoDivB{
	padding: 50px;
}

#accommodationSection {
	padding-top: 0px;
}

#orderSection{
	padding-bottom: 0px; 
	padding-top: 0px;
}

.order_thA{
	text-align:left; 
	font-size: medium; 
	padding-top: 30px; 
	padding-bottom: 10px;
}

.order_thB{
	text-align: right; 
	padding-top: 30px; 
	padding-bottom: 10px;
}

.order_thB a{
	font-size: medium;
}

.accom_tdA{
	text-align: left;
}

.accom_tdA h6{
	color: graytext;
}

.goods_thA{
	font-size: medium; 
	padding-top: 30px; 
	padding-bottom: 10px;
}

.inquiry_tr th{
	font-size: small; 
	padding-top: 30px; 
	padding-bottom: 10px;
}

.goods_span{
	font-size: medium; 
	font-weight: normal;
}

#goldA{
	padding-bottom: 0px;
}

#goldB{
	padding-top: 0px;
}

.goods_thB{
	font-size: medium; 
	padding-top: 60px; 
	padding-bottom: 10px;
}

.goods_tr{
	border-bottom-style: double;
}

.goods_tdA{
	font-weight: bold; 
	font-size: medium;
}

.goods_tdB{
	font-weight: bold; 
	font-size: large; 
	color: red;
}

/* *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.orderList_popup{
    background-color: white;
    border: thick solid #0f72e5;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none; 
    text-align: center;
}

.orderList_popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #0f72e5;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.orderList_popup h2{
  margin-top: -20px;
}
.orderList_popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
    text-align: center;
}
.orderList_a{
    display: block;
    width: 150px;
    position: relative;
    margin-top : 100px;
    margin-left: 28%;
    text-align: center;
    background-color: #0f72e5;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
}

.orderList_popup .nice-select{
    margin: 10px 30px;
    text-align: center;
    width: 80%; 
    height: 30px;
    border-color: black;
    padding: auto;
    padding-bottom: 40px;
}

.orderList_popup .nice-select .list{
    width: 100%; 
    text-align: center;
}

#accom_main{
	padding-bottom: 0px;
}

.accomList_align{
	text-align: center;
}

#datepicker{
	padding-bottom: 20px;
}

.accomSearch_Btn{
	margin-left: 10px; 
	border: none; 
	border-radius: 20%; 
	padding: 4px 8px;
}

.checkinDate{
	cursor:pointer; 
	display: flex; 
	flex-wrap: nowrap; 
	align-items:center; 
	flex: 1; 
	box-sizing: border-box; 
	border-radius: 4px; 
	height: 54px; 
	background-color: #f0f2f5;
}

.checkinDate input{
	border-width:thin; 
	background: none;
}

.checkin_padding{
	padding-right: 10px;
}

.checkinPeople{
	margin-left:10px;
	cursor:pointer; 
	display:flex;
	flex-wrap: nowrap; 
	align-items:center; 
	flex: 1; 
	box-sizing: border-box; 
	border-radius: 4px; 
	height: 54px; 
	background-color: #f0f2f5;
}

.checkinPeople span{
	cursor:pointer; 
	border:none; 
	background: none; 
	padding-left: 20px;
}

.dropdown{
	position: relative; 
	display: inline-block
}

.dropdown-content{
	position: absolute;
	z-index: 2; 
	display: none;
}

.dropdown:hover .dropdown-content{
	  display: block;
}

.dropdown-content li{
	background-color: white;
}

.dropdown-content li div{
	padding: 10px;
}

.dropdownBtn{
	width: 28px; 
	border: none; 
	background-color: #f0f2f5;
}

.dropdownInput{
	width: 30px; 
	border: none;
}

