<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<div th:fragment="leftSideFragment">
	<div class="col-md-3 left_col">
		<div class="left_col scroll-view">
			<div class="navbar nav_title" style="border: 0;">
				<a href="/index" class="site_title"><i class="fa fa-paw"></i>
					<span>Anypet</span></a>
			</div>

			<div class="clearfix"></div>

			<!-- menu profile quick info -->
			<div class="profile clearfix text-center">
				
				<div class="profile_info w-100">
					<!-- 관리자인경우 -->
					<div>
						<span class="text-warning">반갑습니다.</span>
						<h2 class="text-warning">관리자님</h2>
					</div>
					<!-- 업체인경우 -->
					<a href="/admin/modifyInfo">
						<h2 class="text-warning">companyId</h2>
					</a>
				</div>	
			</div>
			<!-- /menu profile quick info -->

			<br />

			<!-- sidebar menu -->
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
				<div class="menu_section">
					<h3>General</h3>
					<ul class="nav side-menu">
						<li>
							<a>
								<i class="fa fa-home"></i> 회원관리 
								<span class="fa fa-chevron-down"></span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/admin/member/getMemberList">회원목록</a></li>								
							</ul>							
						</li>
						<li>
							<a>
								<i class="fa fa-edit"></i> 숙소관리 
								<span class="fa fa-chevron-down"></span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/admin/accommodation/accommodationList">숙소목록</a></li>
								<li><a href="/admin/accommodation/insertAccommodation">숙소등록</a></li>						
							</ul></li>
						<li>
							<a>
								<i class="fa fa-desktop"></i> 숙소예약내역관리 
								<span class="fa fa-chevron-down"></span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/admin/accommodation/accommodationReservationList">숙소예약내역목록</a></li>								
							</ul>
						</li>						
						<li>
							<a>
								<i class="fa fa-bar-chart-o"></i>숙소카테고리관리
						 		<span class="fa fa-chevron-down"></span>
						 	</a>
							<ul class="nav child_menu">
								<li><a href="/admin/accommodation/accommodationCategory">숙소카테고리목록</a></li>
								<li><a href="/admin/accommodation/accommodationCategoryInsert">숙소카테고리등록</a></li>						
							</ul>
						</li>
						<li>
							<a><i class="fa fa-clone"></i>숙소리뷰관리 
								<span class="fa fa-chevron-down">
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/admin/accommodation/reviewList">숙소리뷰목록</a></li>								
							</ul>
						</li>
						
						<li>
							<a><i class="fa fa-clone"></i>숙소문의관리 
								<span class="fa fa-chevron-down">
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/admin/accommodation/accommodationInquiryList">숙소문의목록</a></li>								
							</ul>
						</li>
						<!-- id004 fix -->
						<li >
							<a>
								<i class="fa fa-table"></i> 상품관리 
								<span
								class="fa fa-chevron-down">
								</span>
							</a>
							<ul class="nav child_menu">
								<!-- <li><a href="tables.html">상품목록</a></li> -->
								<li><a href="/admin/goods/goodsList">상품목록</a></li>
								<li><a href="/admin/goods/goodsInsert">상품등록</a></li>
								<!-- <li><a href="/admin/goods/goodsDetail">상품상세</a></li> -->
								<!-- <li><a href="/admin/goods/goodsInsert">상품수정</a></li> -->
								<!-- <li><a href="/admin/goods/goodsInquiryModifyDetail">상품문의상세</a></li> -->
							</ul>
						</li>
						
						<li>
							<a>
								<i class="fa fa-table"></i> 주문내역관리 
								<span
								class="fa fa-chevron-down">
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/admin/goods/goodsOrderList">주문내역목록</a></li>								
							</ul>
						</li>
						
						<li>
							<a>
								<i class="fa fa-table"></i> 교환/환불신청관리 
								<span
								class="fa fa-chevron-down">
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/admin/goods/goodsReturn">교환환불신청목록</a></li>								
							</ul>
						</li>
						
						<li>
							<a>
								<i class="fa fa-table"></i> 상품카테고리관리 
								<span
								class="fa fa-chevron-down">
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/admin/goods/goodsLargeCategoryList">상품대분류목록</a></li>
								<li><a href="/admin/goods/goodsLargeCategoryInsert">상품대분류등록</a></li>								
								<li><a href="/admin/goods/goodsMediumCategoryList">상품중분류목록</a></li>
								<li><a href="/admin/goods/goodsMediumCategoryInsert">상품중분류등록</a></li>								
							</ul>
						</li>
						
						<li>
							<a>
								<i class="fa fa-table"></i> 상품리뷰관리 
								<span
								class="fa fa-chevron-down">
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/admin/goods/goodsReviewList">상품리뷰목록</a></li>															
							</ul>
						</li>
						
						<li>
							<a>
								<i class="fa fa-table"></i> 상품문의관리 
								<span
								class="fa fa-chevron-down">
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/admin/goods/goodsInquiryModify">상품문의목록</a></li>														
							</ul>
						</li>
						
						<li>
							<a>
								<i class="fa fa-table"></i> 게시물관리 
								<span
								class="fa fa-chevron-down">
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="/admin/board/boardList">!게시물목록(심정민)</a></li>
								<li><a href="/admin/board/addBoard">#게시물등록(심정민)</a></li>
								<li><a href="/admin/board/boardCategoryList">!게시판카테고리목록(심정민)</a></li>
								<li><a href="/admin/board/addBoardCategory">!게시판카테고리등록(심정민)</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- /sidebar menu -->

			<!-- /menu footer buttons -->
			<div class="sidebar-footer hidden-small">
				<a data-toggle="tooltip" data-placement="top" title="Settings">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
					<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
				</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
					class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
				</a> <a data-toggle="tooltip" data-placement="top" title="Logout"
					href="login.html"> <span class="glyphicon glyphicon-off"
					aria-hidden="true"></span>
				</a>
			</div>
			<!-- /menu footer buttons -->
		</div>
	</div>

	<!-- top navigation -->
	<div class="top_nav">
		<div class="nav_menu">
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>
			<nav class="nav navbar-nav">
				<ul class=" navbar-right">
					<li class="nav-item dropdown open" style="padding-left: 15px;">
						
						<button type="button" class="btn btn-success m-auto">로그아웃</button>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- /top navigation -->
</div>


</html>