<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/loginDefault}">
   <!-- 사용자 정의 타이틀 설정 -->
   <th:block layout:fragment="customTitle">
      <title>관리자 로그인</title>
   </th:block>
   
	<th:block layout:fragment="customContents">
	
	<form style="height:100%; display:flex; flex-direction:column; justify-content:center;">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 offset-lg-4">
					<h1 class="text-center">Admin Login</h1>
					<div class="mt-5">
						<input type="text" class="form-control" placeholder="Username" required="" />
					</div>
					<div class="mt-3">
						<input type="password" class="form-control" placeholder="Password" required="" />
					</div>
					<div class="mt-5">
						<button class="btn btn-primary submit w-100" href="index.html">Log in</button>               
					</div>
				</div>			
			</div>
		</div>
	</form>
   
	</th:block>
</html> 