<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/adminDefault}">
    <!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
	   <title>상품주문내역</title>
	</th:block>
	
	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		<div class="right_col" role="main">
		 <div class="">
		  <div class="page-title">
		    <div class="title_left">
		     <h3>주문내역목록</h3>
		    </div>
		    <div class="clearfix"></div>
			<div class="row">
			   <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                 <div class="x_content">
                  <div class="row">
                   <div class="col-sm-12">
                    <div class="card-box table-responsive">
                      <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%">
                       <thead>
                        <tr>
                          <th>
							 <th><input type="checkbox" id="check-all" ></th>
						  </th>
                          <th>상품주문코드</th>
                          <th>상품명</th>
                          <th>수량</th>
                          <th>총주문금액</th>
                          <th>사용적립금</th>
                          <th>총결제금액</th>
                          <th>결제시각</th>
                          <th>구매자아이디</th>
                          <th>구매자연락처</th>
                          <th>받는주소</th>
                          <th>받는사람연락처</th>
                          <th>받는사람이름</th>
                          <th>기타</th>
                          <th>택배사전달여부</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
							 <th><input type="checkbox" id="check-all" ></th>
						  </td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                        </tr>
                       </tbody>
                    </table>
	              </div>
	             </div>
	            </div>
	           </div>
	          </div> 
            </div>     
           </div>
          </div>
         </div>
        </div>
		</th:block>
	<!-- end contents -->
	

</html>