<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

	<!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
		<title>상품수정</title>
	</th:block>
	
	<th:block layout:fragment="customContents">
				상품수정
			
					<!-- page content -->
		<div class="right_col" role="main">
			<form id="goodsModifyForm" th:action="@{/admin/goods/goodsModify}" class="form-horizontal" method="post">
				<div th:object="${goodsInfo}">
					<div class="page-title">
						<div class="title_left">
							<h3>상품 수정</h3>
						</div>
	
						<div class="title_right">
							<div class="col-md-5 col-sm-5  form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Search for..."> <span
										class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</div>
	
					<div class="clearfix"></div>
	
					<div class="row">
						<div class="col-md-12 col-sm-12 ">
							<div class="x_panel">
								<div class="x_title">
									<h2>상품 수정 페이지</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"> <i
												class="fa fa-chevron-up"></i></a></li>
										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown" role="button" aria-expanded="false"><i
												class="fa fa-wrench"></i></a>
											<div class="dropdown-menu"
												aria-labelledby="dropdownMenuButton">
												<a class="dropdown-item" href="#">Settings 1</a> <a
													class="dropdown-item" href="#">Settings 2</a>
											</div></li>
										<li><a class="close-link"><i class="fa fa-close"></i></a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="col-md-6 col-sm-6 ">
									<div class="product-image">
										<!-- <img src="/img/featured/feature-4.jpg" alt="..." /> -->
										<div class="flieupload-body">
											<div id='previewId'>
												<img alt="상품상세" src="/img/hero/dog.jpg">
											</div>
										</div>
	
										<input id="goodsImage" name="goodsImage" class="fileSelect" type="file" onchange="previewImage(this,'previewId')">
									</div>
	
									<div class="x_content">
										<input type="hidden" id="goodsCode" name="goodsCode" th:value="*{goodsCode}" class="form-control" placeholder="상품명">
										<div class="form-group row ">
											<label class="control-label col-md-3 col-sm-3" for="goodsName">상품명</label>
											<div class="col-md-6 col-sm-6 ">
												<input type="text" id="goodsName" name="goodsName" th:value="*{goodsName}" class="form-control" placeholder="상품명">
											</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-md-3 col-sm-3">상품 카테고리</label>
											<div class="col-md-9 col-sm-9 ">
											
											
												<label class="addTitle control-label">대분류</label> 
												<select class="form-control" name="categoryCode">
													<th:block th:unless="${#lists.isEmpty(goodsCategory)}" th:each="c : ${goodsCategory}">
														<option th:value="${c.categoryCode}" th:text="${c.categoryName}" th:selected="${c.categoryCode} == *{categoryCode}"></option>
													</th:block>
													<th:block th:if="${#lists.isEmpty(goodsCategory)}">
														<option value="">등록된 회원등급이 없습니다.</option>
													</th:block>
												</select> 
												<label class="addTitle control-label">중분류</label> 
												<select class="select2_single form-control" name="categoryCodeSub">
													<th:block th:unless="${#lists.isEmpty(goodsCategorySub)}" th:each="cs : ${goodsCategorySub}">
														<option th:value="${cs.categoryCodeSub}" th:text="${cs.categorySubName}" th:selected="${cs.categoryCodeSub} == *{categoryCodeSub}"></option>
													</th:block>
													<th:block th:if="${#lists.isEmpty(goodsCategorySub)}">
														<option value="">등록된 회원등급이 없습니다.</option>
													</th:block>
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-md-3 col-sm-3" for="goodsPrice">가격</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="text" id="goodsPrice" name="goodsPrice" th:value="*{goodsPrice}" class="form-control">
											</div>
										</div>
	
										<div class="form-group row ">
											<label class="control-label col-md-3 col-sm-3" for="goodsQuantiy">재고수량</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="text" id="goodsQuantiy" name="goodsQuantiy" th:value="*{goodsQuantiy}" class="form-control nums" placeholder="수량" step="1">
											</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-md-3 col-sm-3" for="goodsContents">상품 상세 설명</label>
											<div class="col-md-9 col-sm-9 ">
													<th:block><textarea id="goodsContents" name="goodsContents" class="form-control" rows="3" placeholder="상품 상세 설명" th:text="*{goodsContents}"></textarea></th:block>
												
											</div>
										</div>
										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-9 col-sm-9  offset-md-3">
												<a href="/admin/goods/goodsList">
													<button type="button" class="btn btn-primary">취소</button>
												</a>
												<!-- <button type="reset" class="btn btn-primary">초기화</button> -->
												<button type="submit" class="btn btn-success">수정</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</th:block>
	<!-- /page content -->
	
</html>
