<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="anypet.ks44team01.mapper.GoodsMapper">
		<resultMap type="GoodsList" id="goodsResultMap">
			<id		column="goods_code" 			property="goodsCode"/>
			<result column="id" 					property="goodsId"/>
			<result column="goods_name" 			property="goodsName"/>
			<result column="company_member_code" 	property="companyMemberCode"/>
			<result column="category_code" 			property="categoryCode"/>
			<result column="category_name" 			property="categoryName"/>
			<result column="category_code_sub" 		property="categoryCodeSub"/>
			<result column="category_sub_name" 		property="categorySubName"/>
			<result column="registration_datetime" 	property="goodsResgisterTime"/>
			<result column="goods_image" 			property="goodsImage"/>
			<result column="goods_price" 			property="goodsPrice"/>
			<result column="goods_quantity" 		property="goodsQuantiy"/>
			<result column="goods_contents" 		property="goodsContents"/>
		</resultMap>
		
		
		<delete id="goodsRemove" parameterType="String">
			/* 상품 삭제 */
			DELETE FROM 
				goods 
			WHERE 
				goods_code=#{goodsCode};
			
		</delete>
		
		<select id="getGoodsInfoByCode" parameterType="String" resultType="GoodsList">
  		/* 특정상품 조회 */
  			SELECT 
				 goods_code 			AS goodsCode
				,company_member_code	AS companyMemberCode
				,id						AS goodsId
				,goods_name				AS goodsName
				,goods_price			AS goodsPrice
				,goods_image			AS goodsImage
				,goods_quantity			AS goodsQuantiy
				,registration_datetime	AS goodsResgisterTime
				,goods_contents			AS goodsContents
			FROM 
		goods AS g
		WHERE
			goods_code = #{goodsCode};
	 	<!-- <trim prefix="WHERE" prefixOverrides="AND |OR">
	 		<if test="sv != null and sv != ''">
	 			${sk} LIKE CONCAT('%', #{sv},'%')
	 		</if>
	 	</trim> -->
  	</select>
		
		<update id="goodsModify" parameterType="GoodsList">
		/* 상품 수정 */
			UPDATE goods
			<trim prefix="SET" prefixOverrides=",">
				<if test="goodsCode != null and goodsCode != ''"					>goods_code = #{goodsCode}</if>
				<if test="companyMemberCode != null and companyMemberCode != ''"	>,company_member_code = #{companyMemberCode}</if>
				<if test="categoryCodeSub != null and categoryCodeSub != ''"		>,category_code_sub = #{categoryCodeSub}</if>
				<if test="goodsId != null and goodsId != ''"						>,id = #{goodsId}</if>
				<if test="goodsName != null and goodsName != ''"					>,goods_name = #{goodsName}</if>
				<if test="goodsPrice != null and goodsPrice != ''"					>,goods_price = #{goodsPrice}</if>
				<if test="goodsImage != null and goodsImage != ''"					>,goods_image = #{goodsImage}</if>
				<if test="goodsQuantiy != null and goodsQuantiy != ''"				>,goods_quantity = #{goodsQuantiy}</if>
				<if test="goodsContents != null and goodsContents != ''"			>,goods_contents = #{goodsContents}</if>
				,registration_datetime = NOW()
			</trim>
			WHERE
				goods_code = #{goodsCode};
		</update>
	    
	
		<select id="getGoodsCategory" resultType="GoodsCategory">
		    /* 상품 카테고리 대분류 조회 */
		    SELECT
		    	 category_code as categoryCode
				,category_name as categoryName
			FROM 
				company_category;

	    </select> 
	    
   		<select id="getGoodsCategorySub" resultType="GoodsCategorySub">
		    /* 상품 카테고리 중분류 조회 */
			SELECT
				 category_code_sub as categoryCodeSub
				,category_sub_name as categorySubName
			FROM 
			company_category_sub;

	    </select> 
	    
		
		
		<select id="getGoodsList" resultMap="goodsResultMap" fetchSize="100">
			/* 상품 목록 조회 */
			SELECT
				 g.goods_code
				,m.id
				,g.goods_name
				,ccs.category_code_sub
				,g.goods_image
				,g.goods_price
				,g.goods_quantity
			FROM
				goods	AS g
				INNER JOIN 
				member AS m
				ON 
				m.id = g.id
				INNER JOIN
				company_category_sub AS ccs
				ON
				g.category_code_sub = ccs.category_code_sub
				ORDER BY g.goods_price DESC;
		</select>
		<insert id="goodsInsert" parameterType="GoodsList">
			<selectKey keyProperty="goodsCode" resultType="String" order="BEFORE">
				SELECT
					(CASE 
					 -- 상품이 없을 경우
					 WHEN count(g.goods_code) = 0 THEN 'gc001_4'
					 -- 999개 등록되어 있을 경우
					 WHEN (Max(CAST(substring_index(g.goods_code,'gc',-1) AS UNSIGNED))+1) > 999 THEN
					 	concat('gc',Max(CAST(substring_index(g.goods_code,'gc',-1) AS UNSIGNED))+1)
					 -- 1~999 범위일 경우
					 ELSE
						concat('gc',LPAD(Max(CAST(substring_index(g.goods_code,'gc',-1) AS UNSIGNED))+1,3,0))	
					 END) AS goodsCode
				FROM 
					goods AS g;
	  		</selectKey>
			/* 상품 등록  */
			INSERT INTO goods
				(goods_code, company_member_code, category_code_sub, id, goods_name, goods_price, goods_image, goods_quantity, registration_datetime, goods_contents)
			VALUES(
				#{goodsCode}, 
				'cmc004', 
				#{categoryCodeSub}, 
				'id004', 
				#{goodsName}, 
				#{goodsPrice}, 
				#{goodsImage}, 
				#{goodsQuantiy}, 
				NOW(), 
				#{goodsContents});	
		</insert>
		
		
		
		
		<resultMap type="GoodsInquiry" id="GoodsInquiryMap">
	        <id 	column="goods_QnA_number" 			property="goodsQnaNumber"/>
	        <result column="goods_code"					property="goodsCode"/>
	        <result column="id" 						property="goodsInquiryId"/>	
	        <result column="goods_name" 				property="goodsName"/>	
	        <result column="goods_QnA_datetime" 		property="goodsQnaDatetime"/>
	        <result column="goods_QnA_title" 			property="goodsQnaTitle"/>
	        <result column="goods_QnA_contents" 		property="goodsQnaContents"/>
	        <result column="goods_QnA_answer" 			property="goodsQnaAnswer"/>
	        <result column="goods_QnA_secret_password" 	property="goodsQnaSecretPassword"/>
			   <!-- <association property="goodsAnswerInfo" resultMap="ks44team04.mapper.GoodsMapper.goodsAnswerMap"/>
			    <association property="goodsInfo" resultMap="ks44team04.mapper.GoodsMapper.goodsResultMap"/>
			    <association property="goodsQnaCategoryInfo" resultMap="ks44team04.mapper.CategoryMapper.GoodsQnaCategoryMap"/>
		        <association property="userInfo" resultMap="ks44team04.mapper.UserMapper.UserResultMap"/>  -->
    	</resultMap>
		<select id="getGoodsInquiryModify" resultMap="GoodsInquiryMap" fetchSize="100">
			/* 상품 문의 목록 */
			SELECT 
				 q.goods_QnA_answer
				,g.goods_name 
				,m.id 
				,q.goods_QnA_title 
				,q.goods_QnA_datetime 
			FROM 
				goods_QnA AS q
				INNER JOIN
				member AS m
				ON 
				q.id  = m.id
				INNER JOIN 
				goods AS g 
				ON
				q.goods_code = g.goods_code;
				
		</select>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	</mapper>