<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
	
	<!-- user page head 조각 -->
	<head th:fragment="headFragment">
	    <meta charset="UTF-8">
	    <meta name="description" content="Ogani Template">
	    <meta name="keywords" content="Ogani, unica, creative, html">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title></title>
	
	    <!-- Google Font -->
	    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/elegant-icons.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/nice-select.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/slicknav.min.css}">
		
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
		
		<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/custom2.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/custom3.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/goodsCustom.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
		<!-- datePicker jQuery plugIn -->
		<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

		<!-- 사용자 정의 css -->
		<th:block layout:fragment="customCss"></th:block>
		
		<!-- 사용자 정의 타이틀 설정 -->
		<th:block layout:fragment="customTitle"></th:block>
		
		<!-- 사용자 정의 JS FILE -->
		<th:block layout:fragment="customTopJs">
			<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
		    <script th:src="@{/js/bootstrap.min.js}"></script>
		    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
		    <script th:src="@{/js/jquery-ui.min.js}"></script>
		    <script th:src="@{/js/jquery.slicknav.js}"></script>
		    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
		    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
			<script th:src="@{/js/daterangepicker.js}"></script>
			<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
			<script th:src="@{/js/rating.js}"></script>
		</th:block>
	</head>
</html>