<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
	<!-- Header Section Begin -->
    <header class="header"  th:fragment="headerFragment">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><a href="">상품</a></li>
                                <li><a href="">숙소</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right"> 
                        	<div class="header__top__right__auth" style="margin-right: 20px;">
                                <a href="#"><i class="fa fa-user"></i>로그인</a>
                            </div>            
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i>회원가입</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">#메인페이지</a></li>
                            <li><a th:href="@{/user/accommodation/accommodationList}">#숙소목록</a></li>
                            <li><a th:href="@{/user/accommodation/accommodationDetail}">#숙소상세</a></li>
                            <li><a href="/accommodation/insertReservation">#숙소예약</a></li>
                            <li><a th:href="@{/user/accommodation/accommodationPay}">#숙소결제</a></li>                            
                            <li><a href="">#상품</a>
                           	 <ul class="header__menu__dropdown">
                                    <li><a th:href="@{/goods/goodsInsert}">#상품등록</a></li>
                                    <li><a th:href="@{/goods/goodsModify}">#상품수정</a></li>
                                    <li><a href="">#상품삭제</a></li>
                                    <li><a th:href="@{/goods/goodsList}">#상품목록</a></li>
                                    <li><a th:href="@{/user/goods/goodsListUser}">#상품목록_구매자</a></li>
                                    <li><a th:href="@{/goods/goodsShippingInfoInsert}">#배송정보등록</a></li>
                                    <li><a th:href="@{/goods/goodsShippingInfoModify}">#배송정보수정</a></li>
                                    <li><a href="">#배송정보삭제</a></li>
                                    <li><a th:href="@{/goods/goodsCategoryList}">#상품카테고리목록</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{/user/goods/goodsDetail}">#상품상세</a></li>
                            <li><a th:href="@{/user/goods/goodsCartList}">#장바구니</a></li>
                            <li><a th:href="@{/user/goods/goodsPay}">#상품결제</a></li>
                            
                           <li><a href="#">!계정관련</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/member/login">!로그인</a></li>
                                    <li><a href="/member/addMember">!회원가입</a></li>
                                    <li><a href="/member/searchId">!아이디찾기</a></li>
                                    <li><a href="/member/searchPw">!비밀번호찾기</a></li>
                                </ul>
                            </li>
                            
                            <li><a href="#">!마이페이지</a>
                                <ul class="header__menu__dropdown">                                   
                                    <li><a href="/user/mypage/modifyMemberInformation">!회원정보수정</a></li>
                                    <li><a href="">#회원탈퇴</a></li>
                                    <li><a href="/user/mypage/accommodationOrderListDetail">!나의숙소예약상세내역</a></li>
                                    <li><a href="/user/mypage/goodsOrderListDetail">!나의상품주문상세내역</a></li>
                                    <li><a href="/user/mypage/orderList">!상품주문목록</a></li>
                                    <li><a href="/user/mypage/inquiryList">!나의문의내역</a></li>                                                                        
                                </ul>
                            </li>
                            
                            <li><a href="/user/board/boardList">!게시판</a>
                                
                            </li>
                        </ul>
                    </nav>
                </div>          
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div> 
        
        <div class="container">
        	<div class="row">
        		
   			       <nav class="navbar navbar-expand-lg navbar-light bg-white w-100">
				  <a class="navbar-brand" href="#">Anypet</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				
				  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				      <li class="nav-item active">
				        <a class="nav-link" href="#">상품 <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">숙소</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">게시판</a>
				      </li>
				      
				      <li class="nav-item">
				        <a class="nav-link" href="#">로그인</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">회원가입</a>
				      </li>
				      
				      <!-- <li class="nav-item">
				        <a class="nav-link" href="#">마이페이지</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">로그아웃</a>
				      </li> -->
				    </ul>
				    
				    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				      <li class="nav-item">
				        <a class="nav-link" href="#">로그인</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">회원가입</a>
				      </li>
				      
				      <!-- <li class="nav-item">
				        <a class="nav-link" href="#">마이페이지</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">로그아웃</a>
				      </li> -->
				    </ul>			
				  </div>
				</nav>        		
        	</div>
        </div>
 
    </header>
    <!-- Header Section End -->
</html>