<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">
<!-- 사용자 정의 타이틀 설정 -->
<th:block layout:fragment="customTitle">
	<title>게시물 등록</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="right_col" role="main">
		<div>
			<h3>
				게시물 등록<small> - 게시물 제목과 내용 입력 후 등록하는 페이지</small>
			</h3>
			<div class="col-md-12 col-sm-12 ">
				<div class="x_panel">
					<div class="x_title">
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false"><i
									class="fa fa-wrench"></i></a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">Settings 1</a> <a
										class="dropdown-item" href="#">Settings 2</a>
								</div></li>
							<li><a class="close-link"><i class="fa fa-close"></i></a></li>
						</ul>
						<div class="clearfix">
							<div>
								<select>
									<option>카테고리 선택</option>
									<option>공지</option>
									<option>정보</option>
									<option>자유</option>
									<option>숏폼</option>
									<option>상담</option>
									<option>Q&A</option>
									<option>FAQ</option>
								</select>
							</div>
						</div>
					</div>
					<div class="flexable-textarea">				
						<input type="text" placeholder="제목을 입력해주세요.">
					</div>
					<div class="x_content">
						<div id="alerts"></div>
						<div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor-one">
							<div class="btn-group">
								<a class="btn dropdown-toggle" data-toggle="dropdown"
									title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
								<ul class="dropdown-menu">
								</ul>
							</div>
							<div class="btn-group">
								<a class="btn dropdown-toggle" data-toggle="dropdown"
									title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b
									class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a data-edit="fontSize 5">
											<p style="font-size: 17px">Huge</p>
									</a></li>
									<li><a data-edit="fontSize 3">
											<p style="font-size: 14px">Normal</p>
									</a></li>
									<li><a data-edit="fontSize 1">
											<p style="font-size: 11px">Small</p>
									</a></li>
								</ul>
							</div>
							<div class="btn-group">
								<a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i
									class="fa fa-bold"></i></a> <a class="btn" data-edit="italic"
									title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a> <a
									class="btn" data-edit="strikethrough" title="Strikethrough"><i
									class="fa fa-strikethrough"></i></a> <a class="btn"
									data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i
									class="fa fa-underline"></i></a>
							</div>
							<div class="btn-group">
								<a class="btn" data-edit="insertunorderedlist"
									title="Bullet list"><i class="fa fa-list-ul"></i></a> <a
									class="btn" data-edit="insertorderedlist" title="Number list"><i
									class="fa fa-list-ol"></i></a> <a class="btn" data-edit="outdent"
									title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
								<a class="btn" data-edit="indent" title="Indent (Tab)"><i
									class="fa fa-indent"></i></a>
							</div>
							<div class="btn-group">
								<a class="btn" data-edit="justifyleft"
									title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
								<a class="btn" data-edit="justifycenter"
									title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
								<a class="btn" data-edit="justifyright"
									title="Align Right (Ctrl/Cmd+R)"><i
									class="fa fa-align-right"></i></a> <a class="btn"
									data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i
									class="fa fa-align-justify"></i></a>
							</div>
							<div class="btn-group">
								<a class="btn dropdown-toggle" data-toggle="dropdown"
									title="Hyperlink"><i class="fa fa-link"></i></a>
								<div class="dropdown-menu input-append">
									<input class="span2" placeholder="URL" type="text"
										data-edit="createLink" />
									<button class="btn" type="button">Add</button>
								</div>
								<a class="btn" data-edit="unlink" title="Remove Hyperlink"><i
									class="fa fa-cut"></i></a>
							</div>
							<div class="btn-group">
								<a class="btn" title="Insert picture (or just drag & drop)"
									id="pictureBtn"><i class="fa fa-picture-o"></i></a> <input
									type="file" data-role="magic-overlay" data-target="#pictureBtn"
									data-edit="insertImage" />
							</div>
							<div class="btn-group">
								<a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i
									class="fa fa-undo"></i></a> <a class="btn" data-edit="redo"
									title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
							</div>
						</div>
						<div id="editor-one" class="editor-wrapper"></div>
						<textarea name="descr" id="descr" placeholder="내용을 입력해주세요."
							style="display: none;"></textarea>
						<br />
						<div class="ln_solid"></div>
						<div style="text-align: center;">
							<a href="javascript:add_check('/admin/board/boardList')"><button>등록하기</button></a>
							<a href="/admin/board/boardList"><button>목록 이동</button></a>
							<a href="#top"><button>위로 가기</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script th:src="@{/build/js/editor.js}"></script>
	<!-- jQuery -->
	<!-- <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script> -->
	<!-- Bootstrap -->
	<!-- <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.bundle.min.js}"></script> -->
	<!-- bootstrap-wysiwyg -->
	<script th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
	<script th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
	<!-- Switchery -->
	<script th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
	<!-- Custom Theme Scripts -->
	<script th:src="@{/build/js/custom.min.js}"></script>
	<script>	
			/*글 등록 확인 시작*/
			function add_check(url){
				var answer;
				//페이지를 이동하기 전에 confirm()을 사용해 다시 한번 확인한다.
				//확인을 선택하면 answer에  true, 취소를 선택하면 false 값이 들어간다.
				answer = confirm("작성한 글을 등록하시겠습니까?");
				//확인을 선택한 경우 자바스크립트를 호출할 때 같이 넘어온 url이라는 변수에 들어있는 주소로 페이지 이동
				if(answer == true){
					location = url;
				}
			}
			/*글 등록 확인 끝*/
		</script>
</th:block>
</html>
