<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<!-- 사용자 정의 타이틀 설정 -->
<th:block layout:fragment="customTitle">
	<title>게시판 카테고리 등록</title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="right_col" role="main">
		<div>
			<div class="page-title">
				<div class="title_left">
					<h3>
						게시물 관리<small> - 게시판 카테고리 등록</small>
					</h3>
				</div>
				<div class="title_right">
					<div
						class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Search for..."> <span
								class="input-group-btn">
								<button class="btn btn-secondary" type="button">검색</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div>
							<h2>게시판 카테고리를 등록하는 페이지</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i> </a></li>
							</ul>
						</div>
						<div class="x_content">
							<br />
							<form id="demo-form2" data-parsley-validate
								class="form-horizontal form-label-left"
								th:action="@{/admin/board/addBoardCategory}" method="post">
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="first-name">카테고리명<span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="first-name" required="required"
											class="form-control" name="boardCategoryName">
									</div>
								</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="last-name">등록자 ID<span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" id="last-name" name="last-name"
											required="required" class="form-control" value="id001"
											readonly>
									</div>
								</div>
								<div class="item form-group" align="center">
									<div class="col-md-6 col-sm-6 offset-md-3">
										<a href="javascript:add_check()">
											<button class="btn btn-primary" type="button">등록</button>
										</a> <a href="/admin/board/boardCategoryList"><button
												class="btn btn-primary" type="button">취소</button></a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="customFootScript">
	<script>
		/*게시물 카테고리 등록 확인 시작*/
		function add_check() {
			var answer;
			//페이지를 이동하기 전에 confirm()을 사용해 다시 한번 확인한다.
			//확인을 선택하면 answer에  true, 취소를 선택하면 false 값이 들어간다.
			answer = confirm("새 게시판 카테고리를 등록하시겠습니까?");
			//확인을 선택한 경우 자바스크립트를 호출할 때 같이 넘어온 url이라는 변수에 들어있는 주소로 페이지 이동
			if (answer == true) {
				$('#demo-form2').submit();
				//location = url;
			}
		}
		/*게시물 카테고리 등록 확인 끝*/
	</script>
</th:block>
</html>
