<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/adminDefault}">
    <!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
	   <title>게시판 열람</title>
	</th:block>
   
	<th:block layout:fragment="customContents">
	<div class="right_col" role="main">
				<div class="">
				<div class="row">
	<div class="col-md-6 ">
							<div class="x_panel">
								<div class="x_title">
									<h2>게시물 카테고리 관리 <small>different form elements</small></h2>
									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
										</li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
											<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												<a class="dropdown-item" href="#">Settings 1</a>
												<a class="dropdown-item" href="#">Settings 2</a>
											</div>
										</li>
										<li><a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<form class="form-horizontal form-label-left">

										<div class="form-group row ">
											<label class="control-label col-md-3 col-sm-3 ">카테고리 입력</label>
											<div class="col-md-9 col-sm-9 ">
												<input type="text" class="form-control" placeholder="카테고리를 입력해주세요.">
											</div>
										</div>
										
										<div class="form-group row">
											<label class="control-label col-md-3 col-sm-3 ">카테고리 선택</label>
											<div class="col-md-9 col-sm-9 ">
												<select class="form-control">
													<option>카테고리 선택</option>
													<option>Option one</option>
													<option>Option two</option>
													<option>Option three</option>
													<option>Option four</option>
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<label class="control-label col-md-3 col-sm-3 ">카테고리 목록</label>
											<div class="col-md-9 col-sm-9 ">
												<select class="select2_multiple form-control" multiple="multiple">
													
													<option>공지사항</option>
													<option>정보공유</option>
													<option>자유</option>
													<option>O	ion four</option>
													<option>Option five</option>
													<option>Option six</option>
												</select>
											</div>
										</div>

										
										<div class="form-group row">
											<label class="col-md-3 col-sm-3  control-label">카테고리 숨김
												<br>
												<small class="text-navy">체크된 카테고리는 숨겨집니다.</small>
											</label>

											<div class="col-md-9 col-sm-9 ">
												<div class="checkbox">
													<label>
														<input type="checkbox" value=""> 공지사항
													</label>
												</div>
												<div class="checkbox">
													<label>
														<input type="checkbox" value=""> 정보공유
													</label>
												</div>
												<div class="checkbox">
													<label>
														<input type="checkbox" value=""> 자유
													</label>
												</div>
																						
											</div>
										</div>

										


										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-9 col-sm-9  offset-md-3">
												<button type="button" class="btn btn-primary">저장</button>
												<button type="button" class="btn btn-primary">취소</button>
												<button type="button" class="btn btn-primary">삭제</button>
												
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
						</div>
						</div>
						</div>
						
					
	</th:block>

</html> 