<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/adminDefault}">
    <!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
	   <title>관리자메인화면</title>
	</th:block>
   
	<th:block layout:fragment="customContents">
	<!-- page content -->
	<body class="nav-md">
    	<div class="container body">
    		<div class="main_container">
				<div class="right_col" role="main">
					<div class="page-title">
              			<div class="title_left">
			               <h3>게시판 목록</h3>
			            </div>
			
			            <div class="title_right">
			            	<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
			                	<div class="input-group">
			                    	<input type="text" class="form-control" placeholder="Search for...">
			                    	<span class="input-group-btn">
			                    		<button class="btn btn-secondary" type="button">Go!</button>
			                    	</span>
			                  	</div>
			                </div>
			            </div>
			        </div>
		
		
		<div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> <small>boardList</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    
					<div class="x_content">

                    <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">전체</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">공지사항</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">정보공유</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">자유</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">숏폼</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">1:1상담</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Q&A</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">FAQ</a>
                      </li>
                    </ul>
                    
                  </div>
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">번호</th>
                            <th class="column-title">말머리</th>
                            <th class="column-title">제목</th>
                            <th class="column-title">작성자</th>
                            <th class="column-title">작성일</th>
                            <th class="column-title">조회</th>
                            <th class="column-title no-link last"><span class="nobr">좋아요</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">[공지사항]</td>
                            <td class=" "><a href="/admin/board/readBoard">우리 강아지와의 하루</a></td>
                            <td class=" ">애견인01</td>
                            <td class=" ">22-10-05</td>
                            <td class="a-right a-right ">5</td>
                            <td class=" last"><a href="#">5</a>
                            </td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">[정보공유]</td>
                            <td class=" ">우리 강아지와의 하루02</td>
                            <td class=" ">애견인02</td>
                            <td class=" ">22-10-05</td>
                            <td class="a-right a-right ">5</td>
                            <td class=" last"><a href="#">5</a>
                            </td>
                          </tr>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">[숏폼]</td>
                            <td class=" ">우리 강아지와의 하루 영상</td>
                            <td class=" ">애견인03</td>
                            <td class=" ">22-10-05</td>
                            <td class="a-right a-right ">5</td>
                            <td class=" last"><a href="#">5</a>
                            </td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">[자유]</td>
                            <td class=" ">우리 강아지와의 하루</td>
                            <td class=" ">애견인04</td>
                            <td class=" ">22-10-05</td>
                            <td class="a-right a-right ">5</td>
                            <td class=" last"><a href="#">5</a>
                            </td>
                          </tr>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                           <td class=" ">121000040</td>
                            <td class=" ">[1:1상담] </td>
                            <td class=" ">우리 강아지와의 하루?</td>
                            <td class=" ">애견인05</td>
                            <td class=" ">22-10-05</td>
                            <td class="a-right a-right ">5</td>
                            <td class=" last"><a href="#">5</a>
                            </td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">[공지사항]</td>
                            <td class=" "><a href="/admin/board/readBoard">우리 강아지와의 하루</a></td>
                            <td class=" ">애견인01</td>
                            <td class=" ">22-10-05</td>
                            <td class="a-right a-right ">5</td>
                            <td class=" last"><a href="#">5</a>
                            </td>
                          </tr>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">[공지사항]</td>
                            <td class=" "><a href="/admin/board/readBoard">우리 강아지와의 하루</a></td>
                            <td class=" ">애견인01</td>
                            <td class=" ">22-10-05</td>
                            <td class="a-right a-right ">5</td>
                            <td class=" last"><a href="#">5</a>
                            </td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">[공지사항]</td>
                            <td class=" "><a href="/admin/board/readBoard">우리 강아지와의 하루</a></td>
                            <td class=" ">애견인01</td>
                            <td class=" ">22-10-05</td>
                            <td class="a-right a-right ">5</td>
                            <td class=" last"><a href="#">5</a>
                            </td>
                          </tr>

                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">[공지사항]</td>
                            <td class=" "><a href="/admin/board/readBoard">우리 강아지와의 하루</a></td>
                            <td class=" ">애견인01</td>
                            <td class=" ">22-10-05</td>
                            <td class="a-right a-right ">5</td>
                            <td class=" last"><a href="#">5</a>
                            </td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">121000040</td>
                            <td class=" ">[공지사항]</td>
                            <td class=" "><a href="/admin/board/readBoard">우리 강아지와의 하루</a></td>
                            <td class=" ">애견인01</td>
                            <td class=" ">22-10-05</td>
                            <td class="a-right a-right ">5</td>
                            <td class=" last"><a href="#">5</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button type="button" class="btn btn-outline-dark"><a href="/admin/board/addBoard">글 쓰기</a></button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </div>
              
              </div>
              
              </body>
	</th:block>

</html> 