<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
		<title>상품목록_구매자</title>
	</th:block>
	<th:block layout:fragment="customCss">
    <style>
		.breadcrumb-section{
		margin-bottom: 50px;
		}
    	#goodsSerarchBtn{
    	height:42px;
    	}
    	#goodsSerachSelect{
    	height:48px;
    	}
    	.hero{
    	display:flex;
    	justify-content:center;
    	}
    </style>
	</th:block>
	
	<th:block layout:fragment="customContents">
	

	<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/petG1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>반려용품</h2>
                        <div class="breadcrumb__option">
                            <a href="#">상품</a>
                            <!--<a th:href="@{/templates/main.html}">홈</a>  -->
                            <span>반려용품</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/petFood.jpg">
                            <h5><a href="#">사료</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/petSnack.jpg">
                            <h5><a href="#">간식</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/petCare.jpg">
                            <h5><a href="#">건강관리</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/petBag.jpg">
                            <h5><a href="#">위생/배변</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/petWash.jpg">
                            <h5><a href="#">미용/목욕</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/petWater.jpg">
                            <h5><a href="#">급식/급수기</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/petToy2.jpg">
                            <h5><a href="#">장난감/훈련</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/petHouse2.jpg">
                            <h5><a href="#">하우스</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/petCage2.jpg">
                            <h5><a href="#">이동장</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/petclothes.jpg">
                            <h5><a href="#">패션/의류</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/petLine.jpg">
                            <h5><a href="#">목줄/하네스</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/petExample.jpg">
                            <h5><a href="#">기타</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Product Section Begin -->
     <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>카테고리</h4>
                            <ul>
                                <li><a href="#">사료</a></li>
                                <li><a href="#">간식</a></li>
                                <li><a href="#">건강관리</a></li>
                                <li><a href="#">위생/배변</a></li>
                                <li><a href="#">미용/목욕</a></li>
                                <li><a href="#">급식/급수기</a></li>
                                <li><a href="#">장난감/훈련</a></li>
                                <li><a href="#">하우스</a></li>
                                <li><a href="#">이동장</a></li>
                                <li><a href="#">패션/의류</a></li>
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>가격</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="0" data-max="1000000">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item sidebar__item__color--option">
                            <h4>종류</h4>
                            <div class="sidebar__item__color sidebar__item__color--gray">
                                <label for="gray">
                                    	강아지
                                    <input type="radio" id="gray">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--black">
                                <label for="black">
                                    	고양이
                                    <input type="radio" id="black">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--red">
                                <label for="red">
                                    	조류
                                    <input type="radio" id="red">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--green">
                                <label for="green">
                                    	파충류<br>양서류
                                    <input type="radio" id="green">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--blue">
                                <label for="blue">
                                  	 	어류
                                    <input type="radio" id="blue">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--white">
                                <label for="white">
                                    	기타
                                    <input type="radio" id="white">
                                </label>
                            </div>
                        </div>
                           <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>최근 목록</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="/img/latest-product/goods01.jpg" alt="" style="width:100px;">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>장난감</h6>
                                                <span>3000원</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="/img/latest-product/goods02.jpg" alt="" style="width:100px;">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>옷</h6>
                                                <span>15000원</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="/img/latest-product/goods03.jpg" alt="" style="width:100px;">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>통조림</h6>
                                                <span>4000원</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="/img/latest-product/goods04.jpg" alt="" style="width:100px;">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>사료</h6>
                                                <span>23000원</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="/img/latest-product/goods05.jpg" alt="" style="width:100px;">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>개껌</h6>
                                                <span>5500원</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="/img/latest-product/goods06.jpg" alt="" style="width:100px;">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>간식</h6>
                                                <span>8000원</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>이벤트 상품</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                <div class="col-lg-4" onclick="location.href='/user/goods/goodsDetail'">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/img/product/discount/petFood.jpg">
                                            <div class="product__discount__percent">-50%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>사료</span>
                                            <h5><a href="#">사료_건식_강아지 오리지널 독_2kg </a></h5>
                                            <div class="product__item__price">90000원 <span>45000</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4" onclick="location.href='/user/goods/goodsDetail'">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/img/product/discount/petHouse.jpg">
                                            <div class="product__discount__percent">-50%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>상품</span>
                                            <h5><a href="#">사료_건식_강아지_오리지널 독_5.6kg  </a></h5>
                                            <div class="product__item__price">170000원 <span>85000원</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4" onclick="location.href='/user/goods/goodsDetail'">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/img/product/discount/petHouse2.jpg">
                                            <div class="product__discount__percent">-50%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>하우스</span>
                                            <h5><a href="#">하우스</a></h5>
                                            <div class="product__item__price">700000원 <span>350000원</span></div>
                                        </div>
                                    </div>
                                </div>
                       
                                
                                <div class="col-lg-4" onclick="location.href='/user/goods/goodsDetail'">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/img/product/discount/petExample.jpg">
                                            <div class="product__discount__percent">-25%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>하우스</span>
                                            <h5><a href="#">캣타워</a></h5>
                                            <div class="product__item__price">500000원 <span>375000원</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>정렬</span>
                                    <select>
                                        <option value="0">평점</option>
                                        <option value="0">가격</option>
                                        <option value="0">리뷰수</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>12개의</span>상품</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- Hero Section Begin -->
					<section class="hero">
						<form action="#" >
							<div id="goodsSearchForm">
								<select id="goodsSerachSelect">
									<option value="all">전체</option>
									<option value="goodsName">상품명</option>
									<option value="goodsLargeCate">대분류</option>
									<option value="goodsMediumCate">중분류</option>
								</select>
							    <input type="text" placeholder="검색어를 입력하세요" style="height:42px;">
							    <button type="submit" class="site-btn" id="goodsSerarchBtn">검색</button>
							 </div>
						</form>
					 </section>
					<!-- Hero Section End -->
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" onclick="location.href='/user/goods/goodsDetail'">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/petCage.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6" onclick="location.href='/user/goods/goodsDetail'">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/petCage2.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6" onclick="location.href='/user/goods/goodsDetail'">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/petClothes.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6" onclick="location.href='/user/goods/goodsDetail'">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/petSnack.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6" onclick="location.href='/user/goods/goodsDetail'">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/petToy.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6" onclick="location.href='/user/goods/goodsDetail'">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/petToy2.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6" onclick="location.href='/user/goods/goodsDetail'">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/petWash.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6" onclick="location.href='/user/goods/goodsDetail'">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/petC.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6" onclick="location.href='/user/goods/goodsDetail'">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/petWater.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6" onclick="location.href='/user/goods/goodsDetail'">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/petBag.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6" onclick="location.href='/user/goods/goodsDetail'">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/petA.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6" onclick="location.href='/user/goods/goodsDetail'">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/petB.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Crab Pool Security</a></h6>
                                    <h5>$30.00</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Product Section End -->

    <!-- Banner Begin -->
    <!--<div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="/img/banner/banner-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="/img/banner/banner-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Banner End -->
	</th:block>
</html> 