<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
		<title>상품목록</title>
	</th:block>
	
	<th:block layout:fragment="customTopJs">
		
	</th:block>
	
	<th:block layout:fragment="customCss">
		<style>
			/*
			 InsertTable{
			 	 height: 100%;
				 vertical-align: middle;
				 text-align: center;
				 display: flex;
				 justify-content: center;
				 width: unset;
				 
			 }
			 */
			 
			 table{
				 display:table-cell;
				 vertical-align:middle;
				 table-layout:fixed;
			     border: 1px solid #444444;
			 }
			 th, td {
			   border: 1px solid #444444;
			 }

			 .buttonMoDel{
				 width: 50px;
				 height: 25px;
			 }
			/*
			{
			height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
			}*/
    	</style>
    </th:block>
    
	<th:block layout:fragment="customContents">
	 <!-- 상품목록 테이블 시작 -->
	 <!-- Shoping Cart Section Begin -->

	
    <section class="shoping-cart spad ">
	    <div class="row">
	     <table class="table text-center w-50 mx-auto ">
		   <thead class="thead-dark">
		    <tr>
		      <th scope="col" class="col-1 align-middle">상품코드</th>
		      <th scope="col" class="col-2 align-middle">중분류코드</th>
		      <th scope="col" class="col-2 align-middle">상품</th>
	          <th scope="col" class="col-1 align-middle">가격</th>
			  <th scope="col" class="col-1 align-middle">수량</th>
			  <th scope="col" class="col-1 align-middle">등록시각</th>
		      <th scope="col" class="col-1 align-middle">운송장번호</th>
			  <th scope="col" class="col-1 align-middle">배송상태</th>
			  <th scope="col" class="col-1 align-middle">반품/결제취소</th>
	   		</tr>
	  	  </thead>
		  <tbody>
		    <tr>
		      <td class="align-middle">1</td>
		      <td class="align-middle">Mark</td>
		      <td class="align-middle">
	          <img src="/img/categories/petToy2.jpg" alt=""><br>
	       		   장난감공
	          </td>
	          <td class="align-middle">
	          $69.00
	          </td>
	          <td class="align-middle">
	          <div class="quantity">
	          	<div class="pro-qty">
	          		<input type="text" value="1">
	            </div>
	          </div>
	          </td>
		      <td class="align-middle">Otto</td>
		      <td class="align-middle">@mdo</td>
	          <td class="align-middle">
	          </td>                      
	          <td class="align-middle"><button class="buttonMoDel" type="button">반품</button><button class="buttonMoDel" type="button">결제취소</button></td>
		    </tr>
		    <tr>
		      <td class="align-middle">2</td>
		      <td class="align-middle">Jacob</td>
	          <td class="align-middle">
	          <img src="/img/cart/cart-2.jpg" alt=""><br>
	           Organic Bananas
	          </td>
	          <td class="align-middle">
	          $69.00
	          </td>
		      <td class="align-middle">
	          <div class="quantity">
	          	<div class="pro-qty">
	          		<input type="text" value="1">
	            </div>
	          </div>
	          </td>
		      <td class="align-middle">Thornton</td>
		      <td class="align-middle">@fat</td>
	          <td class="align-middle">
	          </td>                      
	          <td class="align-middle"><button class="buttonMoDel" type="button">반품</button><button class="buttonMoDel" type="button">결제취소</button></td>
		    </tr>
		    <tr>
		      <td class="align-middle">3</td>
		      <td class="align-middle">Larry</td>
		      <td class="align-middle">
	          <img src="/img/cart/cart-3.jpg" alt=""><br>
	           Organic Bananas
	          </td>
	          <td class="align-middle">
	          $69.00
	          </td>
	          <td class="align-middle">
	          <div class="quantity">
	          	<div class="pro-qty">
	          		<input type="text" value="1">
	            </div>
	          </div>
	          </td>
		      <td class="align-middle">the Bird</td>
		      <td class="align-middle">@twitter</td>
	          <td class="align-middle">
	          </td>                      
	          <td class="align-middle"><button class="buttonMoDel" type="button">반품</button><button class="buttonMoDel" type="button">결제취소</button></td>
		    </tr>
		   </tbody>
		  </table>
		 </div>
    <!-- 상품목록 테이블 끝 -->
	</section>
	</th:block>
	<th:block layout:fragment="customFootJs">
	    <script src="/js/jquery-3.3.1.min.js"></script>
	    <script src="/js/bootstrap.min.js"></script>
	    <script src="/js/jquery.nice-select.min.js"></script>
	    <script src="/js/jquery-ui.min.js"></script>
	    <script src="/js/jquery.slicknav.js"></script>
	    <script src="/js/mixitup.min.js"></script>
	    <script src="/js/owl.carousel.min.js"></script>
	    <script src="/js/main.js"></script>
	</th:block>
	<!-- Js Plugins -->
</html> 