<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 JS 상단 -->
	<th:block layout:fragment="customTopJs">
	<!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script>
        var IMP = window.IMP; 
        IMP.init("imp27140510"); 

        function requestPay() {
            IMP.request_pay({
                pg : 'html5_inicis',
                pay_method : 'card',
                merchant_uid: "57008833-33004", 
                name : '당근 10kg',
                amount : 1004,
                buyer_email : 'Iamport@chai.finance',
                buyer_name : '아임포트 기술지원팀',
                buyer_tel : '010-1234-5678',
                buyer_addr : '서울특별시 강남구 삼성동',
                buyer_postcode : '123-456'
            }, function (rsp) { // callback
                if (rsp.success) {
                    console.log(rsp);
                } else {
                    console.log(rsp);
                }
            });
        }
    </script>
	</th:block>
	
	<!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
		<title>상품등록</title>
	</th:block>
	
	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">			
	
	<!-- start contents -->
		<button onclick="requestPay()">결제하기</button>
	<!-- end contents -->
	
	</th:block>
		

	
	<!-- 사용자 정의 JS 하단 -->
	<th:block layout:fragment="customFootJs">
    
	</th:block>
</html>