<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
		<title>메인화면 </title>
	</th:block>
	
	<th:block layout:fragment="customContents">
	
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="#">강아지</a></li>
                            <li><a href="#">고양이</a></li>
                            <li><a href="#">곰</a></li>
                            <li><a href="#">호랑이</a></li>
                            <li><a href="#">북극곰</a></li>
                            <li><a href="#">사자</a></li>
                            <li><a href="#">독수리</a></li>
                            <li><a href="#">상어</a></li>
                            <li><a href="#">고래</a></li>
                            <li><a href="#">흰수염</a></li>
                            <li><a href="#">에이스</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9" style="text-align:center">
                    <div class="hero__search"  display="flex">
                        <div style="text-align:center">
                            <h2>로그인</h2>
                        </div>
                    </div>
                    <div style="text-align:center">
                    	<div style="margin-top: 4px">
							<input type="text" placeholder="아이디를 입력해 주세요">
                   		</div>	
                  		<div style="margin-top: 4px" >
							<input type="password" placeholder="비밀번호를 입력해 주세요" >				
                    	</div>
                    	<div style="margin-top: 8px">
							<button type="button">로그인</button>                   
                    	</div>
                    	<div style="margin-top: 8px">
                    	<a href="#">아이디찾기	</a>	|	<a href="#">비밀번호찾기  </a>	|	<a href="#">회원가입</a>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/banner-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/banner-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
   
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    
    <!-- Blog Section End -->s
	</th:block>
</html> 