<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
		<title>메인화면 </title>
	</th:block>
	
	<th:block layout:fragment="customContents">
	
    <!-- Hero Section Begin -->
	<section class="hero mt-3">
		<div class="container">
			<div class="col-lg-9 mt-3" style="margin:0 auto;" >            	
				<div class="hero__search" style="text-align:center">
					<h5 style="margin-top:10px; margin-bottom:10px;"><center>비밀번호 찾기</center></h5>
					<div>
						<div  style="margin-bottom:10px;">
							<input type="text" placeholder="아이디를 입력해주세요." style="text-align:center">							
						</div>
						<div  style="margin-bottom:10px;">
							<input type="text" placeholder="이메일을 입력해 주세요." style="text-align:center">							
						</div>
						<div style="margin-bottom:10px;">
							<input type="button" value="인증하기" style="width : 222px">
						</div>
						<div  style="margin-bottom:10px;">
							<input type="text" placeholder="인증번호를 입력해주세요." style="text-align:center">							
						</div>
						<div>
							<input type="button" value="찾기" style="width : 222px";>
						</div>
					</div>	                
				</div>	            
			</div>
		</div>
	</section>

   
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/banner-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/banner-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

	</th:block>
</html> 