<!-- <!DOCTYPE html>
<html>
<head>
    <title>board</title>
</head>
	<div style="text-align: center;">
		<h1>게시판</h1>
	</div>
<body>
    <table border="3" style="display: flex; justify-content: center;">
        <tr>
            <th colspan="2">제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회</th>
            <th>좋아요</th>
        </tr>
        <tr>
		    <td>공지</td>
		    <td><a href="#">[모바일] 8월 넷째 주 : 금주의 대학생 공모전 리스트</a></td>
		    <td>캐미언니</td>
		    <td>2018.08.20.</td>
		    <td>99</td>
		    <td>0</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		
    </table>
  	
  	<div>
    	<button><a href="/board/addBoard">글쓰기</a></button>
	</div>
    <div style="text-align: center;">
	    <a href="#">1</a> 
	    <a href="#">2</a> 
	    <a href="#">3</a> 
	    <a href="#">4</a> 
	    <a href="#">5</a> 
	    <a href="#">▶</a>
	</div>
</body>
</html> -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
    <head>
        <meta charset="UTF-8">
        <th:block layout:fragment="customTitle">
        	<title>boardList</title>
        </th:block>
    </head>
    <th:block layout:fragment="customContents">
    	<div style="text-align: center;">
			<h3>게시판 목록</h3>
		</div>
    <body>
        <table border="1" align=center>
            <tr align=center>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            <tr>
			    <td>533931</td>
			    <td><a href="/board/readBoard">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
			    <td>씽굿씽굿</td>
			    <td>13:49</td>
			    <td>0</td>
			</tr>
			<tr>
			    <td>533931</td>
			    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
			    <td>씽굿씽굿</td>
			    <td>13:49</td>
			    <td>0</td>
			</tr>
			<tr>
			    <td>533931</td>
			    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
			    <td>씽굿씽굿</td>
			    <td>13:49</td>
			    <td>0</td>
			</tr>
			<tr>
			    <td>533931</td>
			    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
			    <td>씽굿씽굿</td>
			    <td>13:49</td>
			    <td>0</td>
			</tr>
			<tr>
			    <td>533931</td>
			    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
			    <td>씽굿씽굿</td>
			    <td>13:49</td>
			    <td>0</td>
			</tr>    
			<tr>
			    <td>533931</td>
			    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
			    <td>씽굿씽굿</td>
			    <td>13:49</td>
			    <td>0</td>
			</tr>
			<tr>
			    <td>533931</td>
			    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
			    <td>씽굿씽굿</td>
			    <td>13:49</td>
			    <td>0</td>
			</tr> 
			<tr>
			    <td>533931</td>
			    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
			    <td>씽굿씽굿</td>
			    <td>13:49</td>
			    <td>0</td>
			</tr> 
			<tr>
			    <td>533931</td>
			    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
			    <td>씽굿씽굿</td>
			    <td>13:49</td>
			    <td>0</td>
			</tr> 
			 
        </table>
        <div style="text-align: center; margin: 30px 30px;">
        	<a href="#">◀이전</a>
		    <a href="#">1</a> 
		    <a href="#">2</a> 
		    <a href="#">3</a> 
		    <a href="#">4</a> 
		    <a href="#">5</a> 
		    <a href="#">6</a> 
		    <a href="#">7</a> 
		    <a href="#">8</a> 
		    <a href="#">9</a> 
		    <a href="#">10</a> 
		    <a href="#">다음▶</a>
		    <a href="/board/addBoard"><button>글 쓰기</button></a>
		</div>
		<div style="text-align: center; align-items: center; display: flex; height: 100px">
			<select>
			    <option>--검색 옵션--</option>
			    <option>제목</option>
			    <option>작성자</option>
			</select>
			<input type="text" placeholder="검색어 입력">
			<button>검색</button>
		</div>
    </body>
    </th:block>
</html>