<!DOCTYPE html>
<html>
<head>
    <title>board</title>
</head>
	<div style="text-align: center;">
		<h1>게시판</h1>
	</div>
<body>
    <table border="3" style="display: flex; justify-content: center;">
        <tr>
            <th colspan="2">제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회</th>
            <th>좋아요</th>
        </tr>
        <tr>
		    <td>공지</td>
		    <td><a href="#">[모바일] 8월 넷째 주 : 금주의 대학생 공모전 리스트</a></td>
		    <td>캐미언니</td>
		    <td>2018.08.20.</td>
		    <td>99</td>
		    <td>0</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		<tr>
		    <td>533931</td>
		    <td><a href="#">[추천공모전] 2018 생명나눔 아이디어 공모전 (~9/9)</a></td>
		    <td>씽굿씽굿</td>
		    <td>13:49</td>
		    <td>0</td>
		    <td>1</td>
		</tr>
		
    </table>
  	
  	<div>
    	<button>글쓰기</button>
	</div>
    <div style="text-align: center;">
	    <a href="#">1</a> 
	    <a href="#">2</a> 
	    <a href="#">3</a> 
	    <a href="#">4</a> 
	    <a href="#">5</a> 
	    <a href="#">▶</a>
	</div>
</body>
</html>