<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/adminDefault}">
    <!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
	   <title>관리자메인화면</title>
	</th:block>
   
	<th:block layout:fragment="customContents">
		<!-- page content -->
		<div class="right_col" role="main">
		    <div class="">
		        <div class="page-title">
		            <div class="title_left">
		                <h3>숙소목록</h3>
		            </div>
					<!-- 검색영역 -->
		            <div class="title_right">
		                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
		                    <div class="input-group">
		                        <input type="text" class="form-control" placeholder="Search for...">
		                        <span class="input-group-btn">
		                            <button class="btn btn-secondary" type="button">Go!</button>
		                        </span>
		                    </div>
		                </div>
		            </div>
		        </div>
		
		        <div class="clearfix"></div>
		
		        <div class="row">
		            <div class="col-md-12 col-sm-12 ">
		                <div class="x_panel">
		                    <div class="x_title">
		                       
		                        <ul class="nav navbar-right panel_toolbox">
		                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		                            </li>
		                            <li class="dropdown">
		                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		                                        <a class="dropdown-item" href="#">Settings 1</a>
		                                        <a class="dropdown-item" href="#">Settings 2</a>
		                                    </div>
		                            </li>
		                            <li><a class="close-link"><i class="fa fa-close"></i></a>
		                            </li>
		                        </ul>
		                        <a href="/admin/accommodation/insertAccommodation">
		                        	<button type="button" class="btn btn-primary">숙소등록</button>
		                        </a>
		                        
		                        <div class="clearfix"></div>
		                    </div>
		                    <div class="x_content">
		                        <div class="row">
		                            <div class="col-sm-12">
		                                <div class="card-box table-responsive">		                    				
			                                <table id="datatable" class="table table-striped table-bordered" style="width:100%">
			                                    <thead>
			                                        <tr>
			                                            <th>번호</th>
			                                            <th>숙소명</th>
			                                            <th>숙소위치</th>
			                                            <th>숙소유형</th>
			                                            <!-- <th>가격</th> -->
			                                            <th>수정/삭제</th>
			                                        </tr>
			                                    </thead>	
			
			                                    <tbody>
			                                    	<!-- <tr>
			                                    		<td>1</td>
														<td>신라스테이마포</td>
														<td>서울</td>
														<td>호텔</td>
														<td>124,000원</td>
														<td>
				                                            <a href="/admin/accommodation/updateAccommodation">
				                                            	<button type="button" class="btn btn-sm btn-primary">수정</button>
				                                            </a>	    
			                                            	<button type="button" class="btn btn-sm btn-success">삭제</button>
			                                            </td>	
			                                    	</tr> -->
			                                        <tr th:if="${not #lists.isEmpty(accommodationList)}" th:each="l : ${accommodationList}" onclick="location.href='/admin/accommodation/accommodationDetail'">
											            <td th:text=${l.accommodationDetailCode}></td>
			                                            <td th:text=${l.accommodationCategoryDto.accommodationCategoryName}></td>
			                                            <td th:text=${l.regionDto.regionName}></td>
			                                            <td th:text=${l.companyMemberDto.companyName}></td>
			                                  		    <!-- <td th:text=${l.accommodationOptionDto.roomPrice}></td>     -->                                
			                                            <td>
				                                            <a th:href="@{/admin/accommodation/updateAccommodation(accommodationDetailCode=${l.accommodationDetailCode})}">
				                                            	<button type="button" class="btn btn-sm btn-primary">수정</button>
				                                            </a>					                                         	
				                                         	<div>
				                                         		<form th:action="@{/admin/accommodation/deleteAccommodation}" method="get">
					                                         		<input type="hidden" id="accommodationDetailCode" th:value="${l.accommodationDetailCode}" name="accommodationDetailCode">
				                                         			<button type="submit"  data-toggle="modal" data-target="#deleteConfirm" class="btn btn-sm btn-success" > 삭제</button>
					                                         		
					                                         		<!-- Modal -->
																	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
																	  <div class="modal-dialog" role="document">
																	    <div class="modal-content">
																	      <div class="modal-header">
																	        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
																	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	          <span aria-hidden="true">&times;</span>
																	        </button>
																	      </div>
																	      <div class="modal-body">
																	        ...
																	      </div>
																	      <div class="modal-footer">
																	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																	        <button type="button" class="btn btn-primary">Save changes</button>
																	      </div>
																	    </div>
																	  </div>
																	</div>
				                                         		</form>
				                                         	</div>                                         				                                                                                       	
			                                            </td>			                                            	                                            
			                                        </tr>		                                                                       
			                                    </tbody>
			                                </table>			                                
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
	            	</div>	
		        </div>
		    </div>
		</div>		
	</th:block>
</html> 